<div class="testdiv2">
    <button class="testbutton" type="submit"></button>
    </div>
    <img src="https://imgur.com/vvaDzba" class=logo>
    <div class="container">
    
    <div class="animate three">
                <span>H</span><span>o</span><span>m</span><span>e</span> &nbsp;
    </div>
    <br>
    <br>
    <div class="testdiv2">
    <button class="testbutton2" type="submit" ></button>
    <p class="about">Journal</p>
    </div>
    </div>
    
    <!-- </div>
    <div class="textbox"></div> -->
    <br>
    <br>
    <div class="testdiv2">
    <button class="testbutton3" type="submit" a routerLink='journal'></button>
    </div>