<div style="text-align:center">
</div><div class="testdiv2">
    <button class="testbutton" type="submit" a routerLink=''></button>
    </div>
    <img src="https://imgur.com/vvaDzba" class=logo>
    <div class="container">
    
    <div class="animate three">
                <span>J</span><span>o</span><span>u</span><span>r</span><span>n</span><span>a</span><span>l</span> &nbsp;
    </div>
    <div class="testdiv2">
        <button class="testbutton2" type="submit" ></button>
    
        </div>
    </div>